<div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 py-10">
  <div class="md:flex md:items-center md:justify-between mb-6">
    <div class="min-w-0 flex-1">
      <h2 class="text-2xl/7 font-bold text-gray-900 sm:truncate sm:text-3xl sm:tracking-tight">Your profile</h2>
    </div>
    <div class="mt-4 flex md:mt-0 md:ml-4">
      <%= link_to "Edit profile", edit_user_registration_path,
        class: "inline-flex items-center rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-xs hover:bg-indigo-700 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" %>
    </div>
  </div>
  <div class="flex justify-center">
    <span class="inline-block size-100 overflow-hidden rounded-full bg-gray-100">
      <svg viewBox="0 0 24 24" fill="currentColor" class="size-full text-gray-300">
        <path d="M24 20.993V24H0v-2.996A14.977 14.977 0 0112.004 15c4.904 0 9.26 2.354 11.996 5.993zM16.002 8.999a4 4 0 11-8 0 4 4 0 018 0z" />
      </svg>
    </span>
  </div>
</div>
